<div class="fxLayout-row fxLayoutAlign-center" style="margin: 12px 0">
  <div
    class="fxFlex-100 fxFlex-lg-90 fxFlex-gt-lg-70 fxLayout-row-wrap fxLayoutAlign-center"
  >
    <div
      class="fxFlex-100 fxFlex-gt-md-36 fxLayout-column fxLayout-sm-row fxLayout-md-row p-12"
    >
      <div class="fxFlex-sm-50 fxFlex-md-50 mat-elevation-z4">
        <app-controller [loader]="loader()" />
      </div>
      <div class="fxLayout-column fxFlex-sm-50 fxFlex-md-50 config-info">
        <span class="place-holder">ngx-ui-loader-configuration = </span>
        <pre><code>{{demoService.config() | json}}</code></pre>
      </div>
    </div>
    <!-- Foreground {{{-->
    <div
      class="fxFlex-100 fxFlex-gt-xs-50 fxFlex-gt-md-32 fxLayout-column p-12"
    >
      <mat-form-field>
        <mat-label>Foreground Spinner Color (fgsColor)</mat-label>
        <input
          matInput
          [ngModel]="demoService.config().fgsColor"
          readonly
        />
        <button
          mat-icon-button
          matSuffix
          [colorPicker]="demoService.config().fgsColor"
          (colorPickerChange)="demoService.updateConfig({fgsColor: $event})"
          [cpPosition]="'bottom'"
          [cpUseRootViewContainer]="true"
          (click)="$event.stopPropagation()"
          type="button"
        >
          <mat-icon [style.color]="demoService.config().fgsColor"
                    fontIcon="mdi-palette"
                    fontSet="mdi"
          />
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Foreground Spinner Type (fgsType)</mat-label>
        <mat-select
          [value]="demoService.config().fgsType"
          (valueChange)="demoService.updateConfig({fgsType: $event})"
        >
          @for (type of spinnerTypes(); track type) {
            <mat-option [value]="type">
              {{ type }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Foreground Spinner Position (fgsPosition)</mat-label>
        <mat-select
          [value]="demoService.config().fgsPosition"
          (valueChange)="demoService.updateConfig({fgsPosition: $event})"
        >
          @for (position of positions(); track position) {
            <mat-option [value]="position">
              {{ position }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Foreground Spinner Size (fgsSize)</span>
        <mat-slider
          max="150"
          min="20"
          step="10"
          [discrete]="true"
        >
          <input matSliderThumb [ngModel]="demoService.config().fgsSize" (ngModelChange)="demoService.updateConfig({fgsSize: $event})">
        </mat-slider>
      </div>

      <div>
          <span class="place-holder"
          >Blur the page while foreground loading (blur)</span
          >
        <mat-slider
          max="15"
          min="0"
          step="1"
          [discrete]="true"
        >
          <input matSliderThumb [ngModel]="demoService.config().blur" (ngModelChange)="demoService.updateConfig({blur: $event})">
        </mat-slider>
      </div>

      <mat-form-field>
        <mat-label>Overlay Color (overlayColor)</mat-label>
        <input
          matInput
          [ngModel]="demoService.config().overlayColor"
          readonly
        />
        <button
          mat-icon-button
          matSuffix
          [colorPicker]="demoService.config().overlayColor"
          (colorPickerChange)="demoService.updateConfig({overlayColor: $event})"
          cpOutputFormat="rgba"
          [cpPosition]="'bottom'"
          [cpUseRootViewContainer]="true"
          (click)="$event.stopPropagation()"
          type="button"
        >
          <mat-icon [style.color]="demoService.config().overlayColor"
                    fontIcon="mdi-palette"
                    fontSet="mdi"
          />
        </button>
      </mat-form-field>

      <div style="margin-top: 21px; margin-bottom: 20px">
        <mat-checkbox
          (change)="toggleProgressBar($event.checked)"
          [checked]="demoService.config().hasProgressBar"
        >Has progress bar</mat-checkbox
        >
      </div>

      @if (demoService.config().hasProgressBar) {
        <mat-form-field>
          <mat-label>Progress Bar Color (pbColor)</mat-label>
          <input
            matInput
            [ngModel]="demoService.config().pbColor"
            readonly
          />
          <button
            mat-icon-button
            matSuffix
            [colorPicker]="demoService.config().pbColor"
            (colorPickerChange)="demoService.updateConfig({pbColor: $event})"
            [cpPosition]="'bottom'"
            [cpUseRootViewContainer]="true"
            (click)="$event.stopPropagation()"
            type="button"
          >
            <mat-icon [style.color]="demoService.config().pbColor"
                      fontIcon="mdi-palette"
                      fontSet="mdi"
            />
          </button>
        </mat-form-field>
      }

      <div style="margin-top: 21px; margin-bottom: 20px">
        <mat-checkbox
          (change)="addLogo($event.checked)"
          [checked]="demoService.config().logoUrl !== ''"
        >Add logo</mat-checkbox
        >
      </div>

      @if (demoService.config().logoUrl) {
        <mat-form-field>
          <mat-label>Logo Position (logoPosition)</mat-label>
          <mat-select
            [value]="demoService.config().logoPosition"
            (valueChange)="demoService.updateConfig({logoPosition: $event})"
          >
            @for (position of positions(); track position) {
              <mat-option [value]="position">
                {{ position }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      @if (demoService.config().logoUrl) {
        <div>
          <span class="place-holder">Logo size (logoSize)</span>
          <mat-slider
            max="200"
            min="40"
            step="10"
            [discrete]="true"
          >
            <input matSliderThumb [ngModel]="demoService.config().logoSize" (ngModelChange)="demoService.updateConfig({logoSize: $event})"
            >
          </mat-slider>
        </div>
      }
    </div>
    <!-- Foreground }}}-->

    <!-- Background {{{-->
    <div
      class="fxFlex-100 fxFlex-gt-xs-50 fxFlex-gt-md-32 fxLayout-column p-12"
    >
      <mat-form-field>
        <mat-label>Background Spinner Color (bgsColor)</mat-label>
        <input
          matInput
          [ngModel]="demoService.config().bgsColor"
          readonly
        />
        <button
          mat-icon-button
          matSuffix
          [colorPicker]="demoService.config().bgsColor"
          (colorPickerChange)="demoService.updateConfig({bgsColor: $event})"
          [cpPosition]="'bottom'"
          [cpUseRootViewContainer]="true"
          (click)="$event.stopPropagation()"
          type="button"
        >
          <mat-icon [style.color]="demoService.config().bgsColor"
                    fontIcon="mdi-palette"
                    fontSet="mdi"
          />
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Background Spinner Type (bgsType)</mat-label>
        <mat-select
          [value]="demoService.config().bgsType"
          (valueChange)="demoService.updateConfig({bgsType: $event})"
        >
          @for (type of spinnerTypes(); track type) {
            <mat-option [value]="type">
              {{ type }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Background Spinner Position (bgsPosition)</mat-label>
        <mat-select
          [value]="demoService.config().bgsPosition"
          (valueChange)="demoService.updateConfig({bgsPosition: $event})"
        >
          @for (position of positions(); track position) {
            <mat-option [value]="position">
              {{ position }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Background Spinner Size (bgsSize)</span>
        <mat-slider
          max="150"
          min="20"
          step="10"
          [discrete]="true"
        >
          <input matSliderThumb [ngModel]="demoService.config().bgsSize" (ngModelChange)="demoService.updateConfig({bgsSize: $event})"
          >
        </mat-slider>
      </div>

      <div>
                          <span class="place-holder"
                          >Background Spinner Opacity (bgsOpacity)</span
                          >
        <mat-slider
          max="1"
          min="0.1"
          step="0.1"
          [discrete]="true"
        >
          <input matSliderThumb [ngModel]="demoService.config().bgsOpacity" (ngModelChange)="demoService.updateConfig({bgsOpacity: $event})"
          >
        </mat-slider>
      </div>

      <div>
                              <span class="place-holder"
                              >Gap between logo, spinner and text (gap)</span
                              >
        <mat-slider
          max="150"
          min="10"
          step="1"
          [discrete]="true"
        >
          <input matSliderThumb [ngModel]="demoService.config().gap" (ngModelChange)="demoService.updateConfig({gap: $event})"
          >
        </mat-slider>
      </div>

      @if (demoService.config().hasProgressBar) {
        <div>
          <span class="place-holder">Progress Bar Thickness (pbThickness)</span>
          <mat-slider
            max="10"
            min="1"
            step="1"
            [discrete]="true"
          >
            <input matSliderThumb [ngModel]="demoService.config().pbThickness" (ngModelChange)="demoService.updateConfig({pbThickness: $event})"
            >
          </mat-slider>
        </div>
      }

      @if (demoService.config().hasProgressBar) {
        <mat-form-field>
          <mat-label>Progress Bar Direction (pbDirection)</mat-label>
          <mat-select
            [value]="demoService.config().pbDirection"
            (valueChange)="demoService.updateConfig({pbDirection: $event})"
          >
            @for (direction of directions(); track direction) {
              <mat-option [value]="direction">
                {{ direction }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      <mat-form-field>
        <mat-label>Loading Text (text)</mat-label>
        <input
          matInput
          [ngModel]="demoService.config().text"
          (ngModelChange)="demoService.updateConfig({text: $event})"
          autocomplete="off"
        />
      </mat-form-field>

      @if (demoService.config().text) {
        <mat-form-field>
          <mat-label>Loading Text Position (textPosition)</mat-label>
          <mat-select
            [value]="demoService.config().textPosition"
            (valueChange)="demoService.updateConfig({textPosition: $event})"
          >
            @for (position of positions(); track position) {
              <mat-option [value]="position">
                {{ position }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      @if (demoService.config().text) {
        <mat-form-field>
          <mat-label>Loading Text Color (textColor)</mat-label>
          <input
            matInput
            [ngModel]="demoService.config().textColor"
            readonly
          />
          <div
            matSuffix
            [colorPicker]="demoService.config().textColor"
            (colorPickerChange)="demoService.updateConfig({textColor: $event})"
            [cpPosition]="'bottom'"
            [cpUseRootViewContainer]="true"
            (click)="$event.stopPropagation()"
          >
            <button mat-icon-button type="button">
              <mat-icon [style.color]="demoService.config().textColor"
                        fontIcon="mdi-palette"
                        fontSet="mdi"
              />
            </button>
          </div>
        </mat-form-field>
      }
    </div>
    <!-- Background }}}-->
    <div class="fxFlex-100 fxLayout-row-wrap fxLayoutAlign-center" style="gap: 8px;">
      <button mat-raised-button color="accent" (click)="reset()">
        Reset Configuration
      </button>
      <a mat-raised-button color="primary" [routerLink]="'/multiloaders'"
      >Multiple Loaders</a
      >
      <button
        mat-raised-button
        color="accent"
        (click)="getDownloadStats()"
        [disabled]="disabled()"
      >
        Http request with loader
      </button>
      <a mat-raised-button color="primary" [routerLink]="'/spinners'"
      >Available Spinners</a
      >
      <button
        mat-raised-button
        color="accent"
        (click)="openGithub()"
      >Star on Github</button>
      <a mat-raised-button color="primary" [routerLink]="'/custom-template'"
      >Custom Template</a
      >
    </div>
  </div>
</div>
