<div class="layout-row-wrap fxLayoutAlign-center" style="margin-top: 12px">
  <div
    class="fxFlex-100 fxFlex-gt-xs-1200 layout-row-wrap fxLayoutAlign-center-start"
    >
    <div
      class="fxFlex-xs-90 fxFlex-sm-70 fxFlex-40 container mat-elevation-z4 master"
      >
      <app-controller [loader]="masterLoader()" />
    </div>
    @for (l of loaders(); track l) {
      <div
        class="fxFlex-xs-90 fxFlex-sm-70 fxFlex-40 container mat-elevation-z4"
        >
        <div class="fxFlex-100" [loaderId]="l.loaderId" ngxUiLoaderBlurred>
          <app-controller [loader]="l" />
        </div>
        <ngx-ui-loader [hasProgressBar]="l.hasProgressBar"
          [loaderId]="l.loaderId"
          [logoUrl]="l.logoUrl"
          [logoSize]="l.logoSize"
          [text]="l.text"
          [fgsType]="l.spinnerType"
          [bgsType]="l.spinnerType"
         />
      </div>
    }
  </div>
  <div
    class="fxFlex-100 fxLayout-row fxLayoutAlign-center"
    style="margin-top: 24px; margin-bottom: 24px"
    >
    <a mat-raised-button color="primary" [routerLink]="'/'">Back</a>
  </div>
</div>
